[submodule "Strauss-Johann-Vater_Op228_Radetzky-Marsch_Benjamin"]
	path = Strauss-Johann-Vater_Op228_Radetzky-Marsch_Benjamin
	url = https://github.com/signature-sound-vienna/Strauss-Johann-Vater_Op228_Radetzky-Marsch_Benjamin
[submodule "Johann-Strauss-Sohn_Op314_Donauwalzer_Peters"]
	path = Johann-Strauss-Sohn_Op314_Donauwalzer_Peters
	url = https://github.com/signature-sound-vienna/Johann-Strauss-Sohn_Op314_Donauwalzer_Peters
[submodule "Johann-Strauss-Sohn_Op314_Donauwalzer_Breitkopf"]
	path = Johann-Strauss-Sohn_Op314_Donauwalzer_Breitkopf
	url = https://github.com/signature-sound-vienna/Johann-Strauss-Sohn_Op314_Donauwalzer_Breitkopf
[submodule "Johann-Strauss-Sohn-Op437_Kaiser-Walzer_Breitkopf"]
	path = Johann-Strauss-Sohn-Op437_Kaiser-Walzer_Breitkopf
	url = https://github.com/signature-sound-vienna/Johann-Strauss-Sohn-Op437_Kaiser-Walzer_Breitkopf
[submodule "Johann-Strauss-Sohn_Fledermaus-Ouverture_Eulenburg"]
	path = Johann-Strauss-Sohn_Fledermaus-Ouverture_Eulenburg
	url = https://github.com/signature-sound-vienna/Johann-Strauss-Sohn_Fledermaus-Ouverture_Eulenburg
[submodule "Johann-Strauss-Sohn_Op332_Eljen-a-Magyar_Cranz"]
	path = Johann-Strauss-Sohn_Op332_Eljen-a-Magyar_Cranz
	url = https://github.com/signature-sound-vienna/Johann-Strauss-Sohn_Op332_Eljen-a-Magyar_Cranz
[submodule "Johann-Strauss-Sohn_Op281_Vergnuegungszug_Spina"]
	path = Johann-Strauss-Sohn_Op281_Vergnuegungszug_Spina
	url = https://github.com/signature-sound-vienna/Johann-Strauss-Sohn_Op281_Vergnuegungszug_Spina
[submodule "Josef-Strauss_Op235_Sphaerenklaenge_Spina"]
	path = Josef-Strauss_Op235_Sphaerenklaenge_Spina
	url = https://github.com/signature-sound-vienna/Josef-Strauss_Op235_Sphaerenklaenge_Spina
